<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/tagify.min.css" />
    <script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            new nicEditor({ maxHeight: 100 }).panelInstance('editor3');
            new nicEditor({ maxHeight: 100 }).panelInstance('editor4');
        });
    </script>
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/insertfiles" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="max_id" name="MAX_FILE_SIZE" value="20971520" />
                            <input type="hidden" id="users_name" name="users_name">
                            <input type="hidden" id="users_id" name="users_id">
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Tambah e-Pustaka :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Tambah
                                                e-Pustaka Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [ID])*</label>
                                            <input class="form-control" type="text" name="title" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [EN])*</label>
                                            <input class="form-control" type="text" name="title_en" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Kategori)*</label>
                                            <select class="form-control" name="file_category_id" id="file_category_id"
                                                required>
                                                <option value="0"> -- </option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Berkas)*</label>
                                            <input class="form-control" name="file_data" id="file_data" type="file"
                                                accept="application/pdf,application/vnd.ms-excel.doc,.docx"
                                                onchange="upload_check()" required> 
                                            <p>Masukkan dengan tipe file pdf , xls, .doc, .docx </p>
                                            <p>Max Upload 50 MB</p>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Konten [ID] )*</label>
                                            <textarea class="form-control" name="content" id="editor3"></textarea>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Konten [EN] )*</label>
                                            <textarea class="form-control" name="content_en" id="editor4"></textarea>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tanggal</label>
                                            <input class="form-control" name="date" id="date" type="date" required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tayang</label>
                                            <!-- <input name="is_publish" id="is_publish" type="checkbox" value="1" required>
                                            Publish -->
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    name="is_publish" id="is_publish">
                                                <label class="form-check-label" for="publish"></label>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Penulis )*</label>
                                            <input class="form-control" name="writer" id="writer" type="text" required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Penerbit )*</label>
                                            <input class="form-control" name="publisher" id="publisher" type="text"
                                                required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Sinopsis )*</label>
                                            <input class="form-control" name="synopsis" id="synopsis" type="text"
                                                required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Isbn )*</label>
                                            <input class="form-control" name="isbn" id="isbn" type="text" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Jumlah Halaman )*</label>
                                            <input class="form-control" name="number_of_pages" id="number_of_pages"
                                                type="number" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Lebar )*</label>
                                            <input class="form-control" name="width" id="width" type="number" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tinggi )*</label>
                                            <input class="form-control" name="height" id="height" type="number"
                                                required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Direktorat )*</label>
                                            <select class="form-control" name="directorat" id="mySelect" multiple
                                                required>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">KDEKS )*</label>
                                            <!-- <select class="form-control" name="kdeks" id="provinces" required>
                                                <option value="0"></option>
                                            </select> -->
                                            <select class="form-control" name="kdeks" id="mySelect2" multiple required>
                                                <option value="0"></option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tagging )*</label>
                                            <span id="tag">

                                            </span>
                                            <input name="taggings" type="text" class="tagify" id="tagify" required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Passcode )*</label>
                                            <input class="form-control" name="passcode" id="passcode" type="text"
                                                required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Downloadable</label>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch"
                                                    name="downloadable" id="downloadable">
                                                <label class="form-check-label" for="downloadable"></label>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>

    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/vendors/js/select2.min.js"></script>
    <script src="/assets/vendors/js/select2-active.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="/assets/vendors/js/tagify.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#mySelect').select2();
            $('#mySelect2').select2();
        });
    </script>
    <script>

        document.getElementById("users_name").value = `${cookie['name']}`;
        document.getElementById("users_id").value = `${cookie['id']}`;

        window.addEventListener("load", async () => {
            const inputElm = document.querySelector('input.tagify');
            new Tagify(inputElm);
            await fileCategory();
            await getDirectorat();
            await getTagging();
            await getProvinces();
            await getDates();
            await upload_check();
        })

        function getDates() {
            var today = new Date();
            document.getElementById("date").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2) + "T00:00";
        }

        function fileCategory() {
            fetch('/files_category')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        const ddd = document.createElement('option')
                        ddd.value = `${element?.id}-${element?.title}`;
                        ddd.text = `${element?.title}`;
                        document.getElementById("file_category_id").append(ddd);
                    });
                })
        }

        function getDirectorat() {
            fetch('/directorat_fe')
                .then(res => res.json())
                .then((qqq) => {
                    qqq.forEach(items => {
                        const aaa = document.createElement('option')
                        aaa.value = `${items?.id}`;
                        aaa.text = `${items?.title}`;
                        document.getElementById("mySelect").append(aaa);
                    });
                })
        }

        function getTagging() {
            fetch('/tagging')
                .then(res => res.json())
                .then((rrr) => {
                    let ttt = "";
                    rrr.forEach(items => {
                        ttt += `${items?.tagging},`;
                    });
                    document.getElementById("tag").innerHTML = ttt;
                    document.getElementById("tagify").value = ttt;
                })
        }

        function getProvinces() {
            fetch('/provinces')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        const ddd = document.createElement('option')
                        ddd.value = `${element?.id}`;
                        ddd.text = `${element?.province_name}`;
                        document.getElementById("mySelect2").append(ddd);
                    });
                })
        }

        function upload_check() {
            var upl = document.getElementById("file_data");
            var max = document.getElementById("max_id").value;
            if (upl.files[0].size > max) {
                alert("File too big!");
                upl.value = "";
                return false;
            }

            return true;
        };
    </script>
</body>

</html>