<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/tagify.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
    <script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            new nicEditor({ maxHeight: 100 }).panelInstance('editor3');
            new nicEditor({ maxHeight: 100 }).panelInstance('editor4');
        });
    </script>
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/updatefileupload" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="max_id" name="MAX_FILE_SIZE" value="2548000" />
                            <input type="hidden" name="id" id="id" value="">
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Ubah Berkas :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Ubah
                                                Data Berkas Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [ID]</label>
                                            <input class="form-control" type="text" name="title" id="title" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [EN]</label>
                                            <input class="form-control" type="text" name="title_en" id="title_en"
                                                required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Kategori Berkas</label>
                                            <select class="form-control" name="file_category_id" id="file_category_id"
                                                required>
                                                <option value="0"> Pilih </option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">View Berkas</label>
                                            <p id="previews"></p>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Upload Berkas</label>
                                            <input class="form-control" name="file_data" id="file_data" type="file"
                                                accept="application/pdf" onchange="upload_check()"> )* Max Upload 2.5 MB
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Keterangan [ID]</label>
                                            <textarea class="form-control" name="content" id="editor3"></textarea>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Keterangan [EN]</label>
                                            <textarea class="form-control" name="content_en" id="editor4"></textarea>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tanggal Publish</label>
                                            <input class="form-control" name="date" id="date" type="datetime-local"
                                                required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Publish</label>
                                            <input name="is_publish" id="is_publish" type="checkbox" value="1" required>
                                            Publish
                                        </div>

                                    
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Penulis</label>
                                            <input class="form-control" name="writer" id="writers" type="text" required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Penerbit</label>
                                            <input class="form-control" name="publisher" id="publishers" type="text"
                                                required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Sinopsis</label>
                                            <input class="form-control" name="synopsis" id="synopsist" type="text"
                                                required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Isbn</label>
                                            <input class="form-control" name="isbn" id="isbns" type="text" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Jumlah Halaman</label>
                                            <input class="form-control" name="number_of_pages" id="number_of_pagest"
                                                type="number" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Lebar</label>
                                            <input class="form-control" name="width" id="widths" type="number" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tinggi</label>
                                            <input class="form-control" name="height" id="heights" type="number"
                                                required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Direktorat</label>
                                            <select class="form-control" name="directorat" id="mySelect" multiple
                                                required>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">KDEKS</label>
                                            <select class="form-control" name="kdeks" id="provinces" required>
                                                <option value="0"></option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tagging</label>
                                            <span id="tag">

                                            </span>
                                            <input name="taggings" type="text" class="tagify" id="tagify" required>
                                        </div>

                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>

    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/vendors/js/select2.min.js"></script>
    <script src="/assets/vendors/js/select2-active.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="/assets/vendors/js/tagify.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#mySelect').select2();
        });
    </script>
    <script>
        window.addEventListener("load", async () => {
            const inputElm = document.querySelector('input.tagify');
            new Tagify(inputElm);
            let file_category_id;
            let prove_id;
            await getUrlById();
            await getCategory();
            await getTagging();
            await getDirectorats();
            await getProvinces();
            await upload_check();
        })

        function getUrlById() {
            const URLS = new URL(window.location.href);
            fetch('/filesdetails/' + URLS.pathname.split('/')[2])
                .then(data => data.json())
                .then((rows) => {
                    document.getElementById("id").value = rows[0]?.id;
                    document.getElementById("title").value = rows[0]?.title;
                    document.getElementById("title_en").value = rows[0]?.title_en;
                    nicEditors.findEditor("editor3").setContent(rows[0]?.content);
                    nicEditors.findEditor("editor4").setContent(rows[0]?.content_en);
                    file_category_id = rows[0]?.report_category_id;
                    prove_id = rows[0]?.id_province;
                    if (rows?.is_publish == 1) {
                        document.getElementById("is_publish").setAttribute('checked', true);
                    } else {
                        document.getElementById("is_publish").setAttribute('checked', false);
                    }
                    document.getElementById("date").value = rows[0]?.date.split('.')[0];
                    document.getElementById("previews").innerHTML = `${rows[0]?.file}`;
                    document.getElementById("writers").value = rows[0]?.writer;
                    document.getElementById("publishers").value = rows[0]?.publisher;
                    document.getElementById("synopsist").value = rows[0]?.synopsis;
                    document.getElementById("isbns").value = rows[0]?.isbn;
                    document.getElementById("number_of_pagest").value = rows[0]?.number_of_pages;
                    document.getElementById("widths").value = rows[0]?.width;
                    document.getElementById("heights").value = rows[0]?.height;
                })
        }

        function getCategory() {
            fetch('/files_category')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        const choosed = (element?.id == file_category_id) ? true : false;
                        const ddd = document.createElement('option')
                        ddd.value = `${element?.id}-${element?.title}`;
                        ddd.text = `${element?.title}`;
                        ddd.selected = choosed
                        document.getElementById("file_category_id").append(ddd);
                    });
                })
        }

        function getTagging() {
            fetch('/tagging')
                .then(res => res.json())
                .then((rrr) => {
                    let ttt = "";
                    rrr.forEach(items => {
                        ttt += `${items?.tagging},`;
                    });
                    document.getElementById("tag").innerHTML = ttt;
                    document.getElementById("tagify").value = ttt;
                })
        }

        function getDirectorats() {
            fetch('/directorat_fe')
                .then(res => res.json())
                .then((qqq) => {
                    qqq.forEach(items => {
                        const aaa = document.createElement('option')
                        aaa.value = `${items?.id}`;
                        aaa.text = `${items?.title}`;
                        document.getElementById("mySelect").append(aaa);
                    });
                })
        }

        function getProvinces() {
            fetch('/provinces')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        if (element?.id == prove_id) {
                            const ddd = document.createElement('option')
                            ddd.value = `${element?.id}`;
                            ddd.text = `${element?.province_name}`;
                            ddd.selected = true;
                            document.getElementById("provinces").append(ddd);
                        } else {
                            const ddd = document.createElement('option')
                            ddd.value = `${element?.id}`;
                            ddd.text = `${element?.province_name}`;
                            document.getElementById("provinces").append(ddd);
                        }
                    });
                })
        }

        function upload_check() {
            var upl = document.getElementById("file_data");
            var max = document.getElementById("max_id").value;
            if (upl.files[0].size > max) {
                alert("File too big!");
                upl.value = "";
                return false;
            }

            return true;
        };

    </script>
</body>

</html>