<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/tagify.min.css" />
    <script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            new nicEditor({ maxHeight: 100 }).panelInstance('editor3');
            new nicEditor({ maxHeight: 100 }).panelInstance('editor4');
        });
    </script>
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/updatephoto" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="id" value="">
                            <input type="hidden" id="max_id" name="MAX_FILE_SIZE" value="1048000" />
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Ubah Photo :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Ubah
                                                Data Photo Isu Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [IN]</label>
                                            <input class="form-control" type="text" name="title" id="title">
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [EN]</label>
                                            <input class="form-control" type="text" name="title_en" id="title_en">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Photo Preview</label>
                                            <p id="preview"></p>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Photo</label>
                                            <input class="form-control" name="photo" id="photo" type="file"
                                                accept="image/*" onchange="upload_check()"> )* Max Upload 1 MB
                                        </div>


                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Keterangan [IN]</label>
                                            <textarea class="form-control" name="content"
                                                id="editor3"><p id="val3"></p></textarea>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Keterangan [EN]</label>
                                            <textarea class="form-control" name="content_en"
                                                id="editor4"><p id="val4"></p></textarea>
                                        </div>


                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tanggal</label>
                                            <input class="form-control" name="photo_datetime" id="photo_datetimes"
                                                type="datetime-local">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Publish</label>
                                            <span id="publish_photo"></span>
                                        </div>

                                        <!-- <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Tagging</label>
                                            <span id="listtag">

                                            </span>
                                        </div> -->

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Direktorat</label>
                                            <select class="form-control" name="directorat" id="mySelect" multiple
                                                required>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">KDEKS</label>
                                            <!-- <select class="form-control" name="kdeks" id="provinces" required>
                                                <option value="0"></option>
                                            </select> -->
                                            <select class="form-control" name="kdeks" id="mySelect2" multiple required>
                                                <option value="0"></option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Ganti/Ubah Tagging</label>
                                            <span id="tag">

                                            </span>
                                            <input name="taggings" type="text" class="tagify" id="tagify" required>
                                        </div>


                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>
    <script src="/assets/vendors/js/jquery.min.js"></script>
    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/vendors/js/select2.min.js"></script>
    <script src="/assets/vendors/js/select2-active.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="/assets/vendors/js/tagify.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#mySelect').select2();
            $('#mySelect2').select2();
        });
    </script>
    <script>
        window.addEventListener("load", async () => {
            const inputElm = document.querySelector('input.tagify');
            new Tagify(inputElm);
            let provinces_id;
            await getUrlById();
            await getTagging();
            await getDireactorat();
            await getProvinces();
            await upload_check();
        })

        function getUrlById() {
            const URLS = new URL(window.location.href);
            fetch('/photodetail/' + URLS.pathname.split('/')[2])
                .then(data => data.json())
                .then((rows) => {
                    console.log(rows)
                    provinces_id = rows[0]?.id_province;
                    document.getElementById("id").value = rows[0]?.id;
                    document.getElementById("title").value = rows[0]?.title;
                    document.getElementById("title_en").value = rows[0]?.title_en;
                    nicEditors.findEditor("editor3").setContent(rows[0]?.content);
                    nicEditors.findEditor("editor4").setContent(rows[0]?.content_en);
                    document.getElementById("photo_datetimes").value = rows[0]?.photos_datetime.split('.')[0];
                    document.getElementById("preview").innerHTML = `<img src="${rows[0]?.photo}" width="180"/>`;
                    // if (rows[0]?.is_publish == 1) {
                    document.getElementById("publish_photo").innerHTML = `
                                             <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" name="is_published" id="publish" checked>
                                                <label class="form-check-label" for="publish"></label>
                                              </div>`;
                    // } else {
                    //     document.getElementById("publish_photo").innerHTML = `<input name="is_published" id="publish" type="radio" value="1"> Publish <input name="is_published" id="publish" type="radio" value="0" checked> Not Publish`;
                    // }

                })
        }

        function getTagging() {
            fetch('/tagging')
                .then(res => res.json())
                .then((rrr) => {
                    let tttt = "";
                    rrr.forEach(items => {
                        // ttt += `&nbsp;<input type="checkbox" id="cek${items?.id}" name="options" value="${items?.tagging}" onchange="handleClick(${items?.id})"> &nbsp; ${items?.tagging} &nbsp;`;
                        tttt += `${items?.tagging},`;
                    });
                    document.getElementById("tag").innerHTML = tttt;
                    document.getElementById("tagify").value = tttt;
                })
        }

        function getDireactorat() {
            fetch('/directorat_fe')
                .then(res => res.json())
                .then((qqq) => {
                    qqq.forEach(items => {
                        const aaa = document.createElement('option')
                        aaa.value = `${items?.id}`;
                        aaa.text = `${items?.title}`;
                        document.getElementById("mySelect").append(aaa);
                    });
                })
        }

        function getProvinces() {
            fetch('/provinces')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        // if (element?.id == provinces_id) {
                        //     const ddd = document.createElement('option')
                        //     ddd.value = `${element?.id}`;
                        //     ddd.text = `${element?.province_name}`;
                        //     ddd.selected = true;
                        //     document.getElementById("provinces").append(ddd);
                        // } else {
                        //     const ddd = document.createElement('option')
                        //     ddd.value = `${element?.id}`;
                        //     ddd.text = `${element?.province_name}`;
                        //     document.getElementById("provinces").append(ddd);
                        // }
                        const ddd = document.createElement('option')
                        ddd.value = `${element?.id}`;
                        ddd.text = `${element?.province_name}`;
                        document.getElementById("mySelect2").append(ddd);
                    });
                })
        }

        function upload_check() {
            var upl = document.getElementById("photo");
            var max = document.getElementById("max_id").value;
            if (upl.files[0].size > max) {
                alert("File too big!");
                upl.value = "";
                return false;
            }

            return true;
        };
    </script>
</body>

</html>