<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/select2-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
    <script type="text/javascript" src="https://js.nicedit.com/nicEdit-latest.js"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            new nicEditor({ maxHeight: 100 }).panelInstance('editor1');
            new nicEditor({ maxHeight: 100 }).panelInstance('editor2');
            new nicEditor({ maxHeight: 100 }).panelInstance('editor3');
            new nicEditor({ maxHeight: 100 }).panelInstance('editor4');
        });
    </script>
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/updatehotissue" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" id="id" value="">
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Ubah Isu Kategori :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Ubah
                                                Data Isu Kategori Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [ID] </label>
                                            <input class="form-control" type="text" name="title" id="title" >
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Judul [EN]</label>
                                            <input class="form-control" type="text" name="title_en" id="title_en"
                                                required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Kategori Isu </label>
                                            <select class="form-control" name="hot_category_id" id="hotcatid" required>
                                                <option value="0"> Pilih </option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Sub Kategori</label>
                                            <select class="form-control" name="category_id" id="catid" >
                                                <option value="0"> Pilih </option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Kutipan [ID]</label>
                                            <textarea class="form-control" name="excerpt"
                                                id="editor1"></textarea>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Kutipan [EN]</label>
                                            <textarea class="form-control" name="excerpt_en"
                                                id="editor2"></textarea>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Keterangan [ID] </label>
                                            <textarea class="form-control" name="content"
                                                id="editor3"></textarea>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Keterangan [EN]</label>
                                            <textarea class="form-control" name="content_en"
                                                id="editor4"></textarea>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Photo Preview</label>
                                            <p id="preview"></p>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Photo</label>
                                            <input class="form-control" name="photo" id="photo" type="file">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Publish</label>
                                            <input name="is_publish" id="is_publish" type="checkbox" value="1">
                                            Publish
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Tanggal Publish</label>
                                            <input class="form-control" name="issue_datetime" id="issue_datetime"
                                                type="datetime-local">
                                        </div>

                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>

    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/vendors/js/select2.min.js"></script>
    <script src="/assets/vendors/js/select2-active.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        window.addEventListener("load", async () => {
            let hot_subcategory_id;
            let hot_category;
            await getUrlById();
            await getCategoryHotIssue();
            await getCategoryHotIssueId()
        })

        function getUrlById() {
            const URLS = new URL(window.location.href);
            fetch('/hotissuedetail/' + URLS.pathname.split('/')[2])
                .then(data => data.json())
                .then((rows) => {
                    document.getElementById("id").value = rows[0]?.id;
                    document.getElementById("title").value = rows[0]?.title;
                    document.getElementById("title_en").value = rows[0]?.title_en;
                    nicEditors.findEditor( "editor1" ).setContent( rows[0]?.excerpt );
                    nicEditors.findEditor( "editor2" ).setContent( rows[0]?.excerpt_en );
                    nicEditors.findEditor( "editor3" ).setContent( rows[0]?.content );
                    nicEditors.findEditor( "editor4" ).setContent( rows[0]?.content_en );
                    hot_subcategory_id = rows[0]?.hot_subcategory_id;
                    hot_category = rows[0]?.hot_issue_category;
                    if (rows?.is_publish == 1) {
                        document.getElementById("is_publish").setAttribute('checked', true);
                    } else {
                        document.getElementById("is_publish").setAttribute('checked', false);
                    }
                    document.getElementById("issue_datetime").value = rows[0]?.hot_issue_datetime.split('.')[0];
                    document.getElementById("preview").innerHTML = `<img src="https://webdev.rifhandi.com/uploads/hot_issue/${rows[0]?.image}" width="180"/>`;
                })
        }

        function getCategoryHotIssue() {
            fetch('/hotissuesubcategory')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        const choosed = (element?.id == hot_subcategory_id) ? true : false ;
                        const ddd = document.createElement('option')
                        ddd.value = `${element?.id}`;
                        ddd.text = `${element?.title}`;
                        ddd.selected = choosed
                        document.getElementById("catid").append(ddd);
                    });
                })
        }

        function getCategoryHotIssueId() {
            fetch('/hotissuecategory')
                .then(res => res.json())
                .then((qqq) => {
                    console.log(qqq)
                    qqq.forEach(items => {
                        const chooseds = (items?.id == hot_category) ? true : false ;
                        const aaa = document.createElement('option')
                        aaa.value = `${items?.id}`;
                        aaa.text = `${items?.title}`;
                        aaa.selected = chooseds
                        document.getElementById("hotcatid").append(aaa);
                    });
                })
        }

    </script>
</body>

</html>