<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/updateusers" method="post">
                            <input type="hidden" name="id" id="id" value="">
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Ubah Users :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Ubah
                                                Data Users Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Nama *</label>
                                            <input class="form-control" type="text" name="names" id="name" 
                                            >
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Email </label>
                                            <input class="form-control" type="text" name="emails" id="email" >
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Password </label>
                                            <input class="form-control" type="password" name="passwords" id="password"
                                                >
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Roles ID </label>
                                            <select class="form-control" name="roles_id" id="role_id" >
                                                <option value="0">Pilih</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> IP Address </label>
                                            <input class="form-control" type="text" name="ip_address" id="ip_address" required>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Direktorat</label>
                                            <select class="form-control" name="directorat_id" id="myDirectorat" required>
                                                <option value="0">Pilih</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Provinsi/Daerah</label>
                                            <select class="form-control" name="id_province" id="daerah" required>
                                                <option value="0">Pilih</option>
                                            </select>
                                        </div>

                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>

    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        window.addEventListener("load", async () => {
            let idprov;
            let directoratid;
            let roleid;
            await getUrlById();
            await getRoles();
            await getDirectoratID();
            await prov();
        })

        function getUrlById() {
            const URLS = new URL(window.location.href);
            fetch('/users_detail/' + URLS.pathname.split('/')[2])
                .then(data => data.json())
                .then((rows) => {
                    roleid = rows[0]?.role_id;
                    idprov = rows[0]?.id_province;
                    directoratid = rows[0]?.directorat_id;
                    document.getElementById("id").value = rows[0]?.id;
                    document.getElementById("name").value = rows[0]?.name;
                    document.getElementById("email").value = rows[0]?.email;
                    document.getElementById("ip_address").value = rows[0]?.ip_address;
                })
        }

        function getRoles() {
            fetch('/roles')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        const ddd = document.createElement('option')
                        if (element?.id == roleid) {
                            ddd.value = `${element?.id}`;
                            ddd.text = `${element?.title}`;
                            ddd.selected = true;
                        } else {
                            ddd.value = `${element?.id}`;
                            ddd.text = `${element?.title}`;
                            ddd.selected = false;
                        }
                        document.getElementById("role_id").append(ddd);
                    });
                })
        }

        function getDirectoratID() {
            fetch('/directorat')
                .then(response => response.json())
                .then((datas) => {
                    datas.forEach(elements => {
                        const ddd = document.createElement('option')
                        if (elements?.id == directoratid) {
                            ddd.value = `${elements?.id}`;
                            ddd.text = `${elements?.title}`;
                            ddd.selected = true;
                        } else {
                            ddd.value = `${elements?.id}`;
                            ddd.text = `${elements?.title}`;
                            ddd.selected = false;
                        }
                        document.getElementById("myDirectorat").append(ddd);
                    });
                })
        }

        function prov() {
            fetch('/provinces')
                .then(response => response.json())
                .then((data) => {
                    data.forEach(element => {
                        const ddd = document.createElement('option')
                        if (element?.id == idprov) {
                            ddd.value = `${element?.id}`;
                            ddd.text = `${element?.province_name}`;
                            ddd.selected = true;
                        } else {
                            ddd.value = `${element?.id}`;
                            ddd.text = `${element?.province_name}`;
                            ddd.selected = false;
                        }
                        document.getElementById("daerah").append(ddd);
                    });
                })
        }


    </script>
</body>

</html>