<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/updateloginbanners" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="max_id" name="MAX_FILE_SIZE" value="1048000" />
                            <input type="hidden" id="flag" name="flag" value="login" />
                            <input type="hidden" id="id_login_banner" name="id_login_banner" value="" />
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Edit Login Banner :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Edit
                                                Data Login Banner Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Judul Banners )*</label>
                                            <input class="form-control" type="text" name="names" id="nmas" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Gambar Login Banner</label>
                                            <p id="previews"></p>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Gambar Login Banner )* </label>
                                            <input class="form-control" name="files_image" id="files_image" type="file"
                                                accept="image/*" onchange="upload_check()"> 
                                            <p>Masukkan dengan tipe file jpg, jpeg, png. </p>
                                            <p>Min. Size: width 400px & height 300px.</p>
                                            <p>Max Upload 1 MB</p>

                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Tanggal Banners )*</label>
                                            <input class="form-control" type="date" name="tanggal" id="tanggal_publish"
                                                value="" required>
                                        </div>
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label">Status : Aktif - Nonaktif )*</label>
                                            <span id="radio_buttons">

                                            </span>
                                        </div>

                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>

    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        window.addEventListener("load", async () => {
            await getDetailWelcome();
            await upload_check();
        })

        function getDetailWelcome() {
            const URLS = new URL(window.location.href);
            fetch('/detail_login_banner/' + URLS.pathname.split('/')[2])
                .then(data => data.json())
                .then((rows) => {
                    console.log(rows)
                    document.getElementById("id_login_banner").value = rows[0]?.id;
                    document.getElementById("nmas").value = rows[0]?.name;
                    document.getElementById("previews").innerHTML = `<img src="${rows[0]?.path}" width="150" alt="Gambar Banner Welcome">`;
                    document.getElementById("tanggal_publish").value = rows[0]?.date_created.split('T')[0];
                    // if (rows[0]?.status == 'aktif') {
                    //     document.getElementById("radio_buttons").innerHTML = `
                    //      <input type="radio" name="status" id="status" value="aktif" checked>Aktif
                    //      <input type="radio" name="status" id="status" value="non_aktif">Non Aktif`;
                    // } else {
                    //     document.getElementById("radio_buttons").innerHTML = `
                    //      <input type="radio" name="status" id="status" value="aktif">Aktif
                    //      <input type="radio" name="status" id="status" value="non_aktif" checked>Non Aktif`;
                    // }
                    if (rows[0]?.status == 'on') {
                        document.getElementById("radio_buttons").innerHTML = `<div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" name="status" id="status" checked> <label class="form-check-label" for="status"></label></div>`;
                    } else {
                        document.getElementById("radio_buttons").innerHTML = `<div class="form-check form-switch"><input class="form-check-input" type="checkbox" role="switch" name="status" id="status"> <label class="form-check-label" for="status"></label></div>`;
                    }
                })
        }

        function upload_check() {
            var upl = document.getElementById("files_image");
            var max = document.getElementById("max_id").value;
            if (upl.files[0]?.size > max) {
                alert("File too big!");
                upl.value = "";
                return false;
            }

            return true;
        };
    </script>
</body>

</html>