<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
</head>

<body>
    <!--! ================================================================ !-->
    <!--! [Start] Navigation Manu !-->
    <!--! ================================================================ !-->
    <script src="/nav.js"></script>
    <!--! ================================================================ !-->
    <!--! [End]  Navigation Manu !-->
    <!--! ================================================================ !-->
    <!--! ================================================================ !-->
    <!--! [Start] Header !-->
    <!--! ================================================================ !-->
    <script src="/header.js"></script>
    <!--! ================================================================ !-->
    <!--! [Start] Main Content !-->
    <!--! ================================================================ !-->
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/update_data_menu" method="post">
                            <input type="hidden" id="id" name="id" value="">
                            <div class="card stretch stretch-full">
                                <div class="card-body lead-status">
                                    <div class="mb-5 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0 me-4">
                                            <span class="d-block mb-2">Ubah Menu :</span>
                                            <span class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                Ubah
                                                Menu Di Bawah Ini</span>
                                        </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Nama Pendek [ID] </label>
                                            <input class="form-control" type="text" name="title" id="title">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Nama Pendek [EN] </label>
                                            <input class="form-control" type="text" name="title_en" id="title_en">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Nama Panjang [ID] </label>
                                            <input class="form-control" type="text" name="long_title" id="long_title">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Nama Panjang [EN] </label>
                                            <input class="form-control" type="text" name="long_title_en" id="long_title_en">
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Link Data </label>
                                            <input class="form-control" type="text" name="link_menu_data" id="link_menu_data">
                                        </div>

                                         <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Narasi </label>
                                            <textarea class="form-control" type="text" name="narations_submenu"
                                                id="narations_submenu" cols="45"></textarea>
                                        </div>

                                        <div class="col-lg-12 mb-4">
                                            <label class="form-label"> Urutan Data </label>
                                            <input class="form-control" type="number" name="data_sort" id="data_sort">
                                        </div>

                                        <div class="col-lg-12 mb-4 text-left">
                                            <label class="form-label"></label>
                                            <input class="btn btn-primary" type="submit" value="Simpan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
        <!-- [ Footer ] end -->
    </main>

    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        window.addEventListener("load", async () => {
            await getUrlById();
        })

        function getUrlById() {
            const URLS = new URL(window.location.href);
            fetch('/detail_data_menus/' + URLS.pathname.split('/')[2])
                .then(data => data.json())
                .then((rows) => {
                    document.getElementById("id").value = rows[0]?.id;
                    document.getElementById("title").value = rows[0]?.title;
                    document.getElementById("title_en").value = rows[0]?.title_en;
                    document.getElementById("long_title").value = rows[0]?.long_title;
                    document.getElementById("long_title_en").value = rows[0]?.long_title_en;
                    document.getElementById("link_menu_data").value = rows[0]?.link_menu_data;
                    document.getElementById("data_sort").value = rows[0]?.narations_menu;
                })
        }

    </script>
</body>

</html>