<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <meta name="author" content="theme_ocean" />
    <title>KNEKS BACKEND || Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/theme.min.css" />
</head>

<body>
    <script src="/nav.js"></script>
    <script src="/header.js"></script>
    <main class="nxl-container">
        <div class="nxl-content">
            <!-- [ page-header ] start -->
            <script src="/breadchumb.js"></script>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <iframe width="100%" height="300" id="metadata"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card stretch stretch-full">
                            <div class="card-body p-3">
                                <form>
                                    <input type="hidden" id="idmeta" name="id" value="">
                                    <input type="hidden" id="url_name" name="url_name" value="">
                                    <div class="card stretch stretch-full">
                                        <div class="card-body lead-status">
                                            <div class="mb-5 d-flex align-items-center justify-content-between">
                                                <h5 class="fw-bold mb-0 me-4">
                                                    <span class="d-block mb-2">Tambah Narasi :</span>
                                                    <span
                                                        class="fs-12 fw-normal text-muted text-truncate-1-line">Silahkan
                                                        Tambah
                                                        Data Narasi Di Bawah Ini</span>
                                                </h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 text-left mt-2">
                                                    NARASI
                                                </div>
                                                <div class="col-lg-6 text-right mb-2">
                                                    BULAN : <input type="month" name="month" id="months" placeholder=""
                                                        class="form" required>
                                                </div>
                                                <div class="col-lg-12 mb-4">
                                                    <textarea class="form-control" name="naration" id="narations"
                                                        style="height: 100px;">
                                                    </textarea>
                                                </div>

                                                <div class="col-lg-12 mb-4 text-left">
                                                    <div class="row">
                                                        <div class="col-md-1 text-left">
                                                            <label class="form-label"></label>
                                                            <input class="btn btn-primary w-20" type="button"
                                                                value="Simpan" onclick="sendData()">
                                                        </div>
                                                        <div class="col-md-11 text-left">
                                                            <label class="form-label"></label>
                                                            <input class="btn btn-warning w-20" type="button"
                                                                value="Hapus" onclick="deleteMeta()">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card stretch stretch-full">
                            <div class="card-body p-3">
                                <h3> Data Narasi </h3>
                                <div class="table-responsive">
                                    <table class="table" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Bulan/Tahun</th>
                                                <th scope="col">Keterangan</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- [ Main Content ] end -->
        </div>
        <!-- [ Footer ] start -->
        <!-- <footer class="footer">
            <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
                <span>Copyright ©</span>
                <script>
                    document.write(new Date().getFullYear());
                </script>
            </p>
            <div class="d-flex align-items-center gap-4">
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
                <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
            </div>
        </footer> -->
    </main>
    <!-- jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script> -->
    <script src="/assets/vendors/js/vendors.min.js"></script>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
<script>
    window.addEventListener("load", async () => {
        await getMetabaseDetail();
    })

    function getMetabaseDetail() {
        const URLS = new URL(window.location.href);
        fetch('/api_dashboard_detail/' + URLS.pathname.split('/')[2])
            .then(data => data.json())
            .then((rrr) => {
                // const ddd = rrr[0]?.month.split('-');
                // const mmmm = parseInt(ddd[1]) + parseInt(1)
                document.getElementById("idmeta").value = rrr[0]?.id;
                document.getElementById("metadata").setAttribute('src', rrr[0]?.api);
                document.getElementById("url_name").value = rrr[0]?.statistic_name;
                document.getElementById("narations").value = rrr[0]?.naration;
                // document.getElementById("months").value = ddd[0] + '-' + '0'+mmmm;
                document.getElementById("months").value = rrr[0]?.month;
            })
    }

    async function deleteMeta() {
        const URLS = new URL(window.location.href);
        const idt = URLS.pathname.split('/')[2];
        await fetch('/emptyapidashboards', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "id": idt })
        }).then(response => response.json())
            .then((data) => {
                if (data?.message == true) {
                    swal({
                        title: "Success",
                        text: "Delete Data",
                        icon: "success",
                        buttons: true,
                    })
                        .then((willOut) => {
                            if (willOut) {
                                window.location = '/dashboard';
                            } else {
                                console.log('NaN')
                            }
                        });
                } else {

                }
            })

    }

    async function sendData() {
        const ids = document.getElementById("idmeta").value;
        const urls_name = document.getElementById("url_name").value;
        const naration = document.getElementById("narations").value;
        const monthss = document.getElementById("months").value;
        await fetch('/updateapidashboards', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "id": ids, "naration": naration, "month": monthss })
        })
            .then(response => response.json())
            .then((data) => {
                if (data?.message == true) {
                    swal({
                        title: "Success",
                        text: "Update Data",
                        icon: "success",
                        buttons: true,
                    })
                        .then((willOut) => {
                            if (willOut) {
                                window.location = '/narations/' + ids + '/' + urls_name;
                            } else {
                                console.log('NaN')
                            }
                        });
                } else {

                }
            })
    }

</script>

</html>